.light-theme {

  /**
   * light theme colors 
   */

  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsl(0, 0%, 97%);

  --action-primary: hsl(214, 32%, 91%);
  --action-secondary: hsl(210, 38%, 95%);

  --foreground-primary: hsl(218, 23%, 23%);
  --foreground-secondary: hsl(216, 15%, 52%);
  --foreground-tertiary: hsl(214, 20%, 69%);

  --accent: hsl(229, 76%, 66%);

}

.dark-theme {

  /**
   * dark theme colors 
   */

  --background-primary: hsl(218, 23%, 23%);
  --background-secondary: hsl(220, 26%, 14%);

  --action-primary: hsl(216, 15%, 52%);
  --action-secondary: hsl(218, 23%, 23%);

  --foreground-primary: hsl(210, 38%, 95%);
  --foreground-secondary: hsl(211, 25%, 84%);
  --foreground-tertiary: hsl(214, 20%, 69%);

  --accent: hsl(229, 76%, 66%);

}

:root {

  /**
   * color
   */

  --white: hsl(0, 0%, 100%);

  /**
   * typography 
   */

  --fs-base: 0.85rem;
  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 0.875rem;
  --fs-5: 0.75rem;

  /**
   * spacing 
   */

  --py: 5rem;

}



/*-----------------------------------*\ 
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

img, button { display: block; }

a, span { display: inline-block; }

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

html {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-base);
  line-height: 1.8;
}

:focus { outline-offset: 4px; }



/*-----------------------------------*\ 
  #BASE STYLE
\*-----------------------------------*/

.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: var(--foreground-primary);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: 900;
}

.h2 {
  font-size: var(--fs-2);
  font-weight: 700;
}

.h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}

.h4 {
  font-size: var(--fs-4);
  font-weight: 700;
}

.text-sm { font-size: var(--fs-4); }

.text-tiny { font-size: var(--fs-5); }





/*-----------------------------------*\ 
  #Reuse Style
\*-----------------------------------*/

.container {
  margin-inline: auto;
  margin: auto;
  padding: 0 15px;
}

.btn {
  min-width: 10rem;
  border-radius: 100px;
}

.btn-primary {
  background: var(--accent);
  color: var(--white);
  padding: 0.6875rem 1.1875rem;
}

.btn-primary:hover {
  background: var(--foreground-secondary);
  color: var(--action-primary);
}

.btn-secondary {
  background: var(--action-secondary);
  color: var(--foreground-secondary);
  padding: 0.5rem 1rem;
  border: 3px solid var(--foreground-tertiary);
}

.btn-secondary:hover { border-color: var(--accent); }





/*-----------------------------------*\ 
  #Extra style for dark theme
\*-----------------------------------*/

.dark-theme .btn-primary:hover { color: var(--background-primary); }

.dark-theme .blog-topic {
  background: var(--action-primary);
  color: var(--foreground-secondary);
}

.dark-theme .blog-topic:hover {
  background: var(--foreground-primary);
  color: var(--action-primary);
}

.dark-theme .load-more:hover { color: var(--white); }

.dark-theme .aside .h2 { color: var(--foreground-primary); }




/*-----------------------------------*\ 
  #Header
\*-----------------------------------*/

header { background: var(--background-primary); }

header .flex-wrapper { display: none; }

.navbar {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  gap: 15px;
  padding: 15px 0;
}

.logo-light,
.logo-dark { display: none; }

.light-theme .logo-light,
.dark-theme .logo-dark { display: block; }

header .btn-group {
  display:     flex;
  align-items: center;
  gap: 15px;
}

.theme-btn-mobile,
.nav-menu-btn,
.nav-close-btn {
  background: var(--action-secondary);
  color: var(--foreground-tertiary);
  width:  40px;
  height: 40px;
  display:         flex;
  justify-content: center;
  align-items:     center;
  border-radius: 50%;
  font-size: 25px;
}

:is(.theme-btn-mobile,
.nav-menu-btn,
.nav-close-btn):hover {
  background: var(--accent);
  color: var(--white);
}

.theme-btn-mobile ion-icon { display: none; }

.theme-btn-mobile.light .sun,
.theme-btn-mobile.dark .moon { display: block; }

.mobile-nav {
  position: fixed;
  inset: 0;
  background: var(--background-primary);
  padding: 70px 20px;
  overflow: auto;
  overscroll-behavior: contain;
  transform: translateX(100%);
  visibility: hidden;
  transition: 0.5s cubic-bezier(1, 0, 0.30, 0.70);
  z-index: 10;
}

.mobile-nav.active {
  transform: translateX(0);
  visibility: visible;
}

.nav-close-btn {
  position: absolute;
  top:   20px;
  right: 20px;
}

.mobile-nav .wrapper {
  padding-bottom: 1.25rem;
  margin-bottom:  1.25rem;
  border-bottom: 1px solid var(--action-primary);
}

.mobile-nav .nav-title { margin-bottom: 1rem; }

.mobile-nav .nav-item { margin-bottom: 0.5rem; }

.mobile-nav .nav-link {
  font-size: var(--fs-3);
  color: var(--foreground-secondary);
}

.mobile-nav .nav-link:hover { color: var(--accent); }





/*-----------------------------------*\ 
  #HERO SECTION
\*-----------------------------------*/

.hero {
  background: var(--background-primary);
  padding-top:    2rem;
  padding-bottom: var(--py);
  text-align: center;
}

.hero .h1 {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.hero b {
  color: var(--accent);
  font-weight: inherit;
}

.hero .h3 {
  color: var(--foreground-secondary);
  margin-bottom: 2rem;
}

.hero .btn-group {
  display:         flex;
  justify-content: center;
  flex-wrap:       wrap;
  gap: 15px;
  text-align: center;
}

.hero .right { display: none; }






/* responsive for larger than 650px screen */

@media (min-width: 650px) {

  :root {

    /* typography  */
    --fs-1: 2.25rem;

  }



/* Reused Style */
  .container { padding: 0 30px; }



/* Header */

  .navbar { padding: 30px 0; }

}


/* responsive for larger than 768px screen */

@media (min-width: 768px) {

  /* Reused Style */
  .container { max-width: 800px; }

}






 /* responsive for larger than 1024px screen */

@media (min-width: 1024px) {

  :root {

  /*typography */

    --fs-base: 1rem;
    --fs-1: 3rem;

  }



/* Reused Style */
  .container { max-width: 1150px; }



  /* Header */
  header .btn-group { display: none; }

  header .flex-wrapper {
    display: flex;
    gap: 30px;
  }

  .desktop-nav {
    display:     flex;
    align-items: center;
    gap: 30px;
  }

  .desktop-nav .nav-link {
    color: var(--foreground-secondary);
    font-weight: 700;
  }

  .desktop-nav .nav-link:hover { color: var(--accent); }

  .theme-btn-desktop {
    position: relative;
    background: var(--background-secondary);
    color: var(--white);
    width:  52px;
    height: 26px;
    display:         flex;
    justify-content: center;
    align-items:     center;
    gap: 10px;
    border-radius: 100px;
  }

  .theme-btn-desktop.light {
    background: linear-gradient(45deg, hsl(7, 100%, 71%), hsl(46, 100%, 65%));
  }

  .theme-btn-desktop.dark {
    background: linear-gradient(45deg, hsl(225, 100%, 60%), hsl(296, 80%, 40%));
  }

  .theme-btn-desktop::before {
    content: '';
    position: absolute;
    background: var(--white);
    width:  21px;
    height: 21px;
    border-radius: 30px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    box-shadow: 0 2px 10px -2px hsla(0, 0%, 0%, 0.05);
    z-index: 2;
  }

  .theme-btn-desktop.dark::before { left: calc(100% - 24px); }



/* Hero */
  .hero { text-align: left; }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }

  .hero .btn-group {
    justify-content: start;
    gap: 30px;
  }

  .hero .right {
    position: relative;
    display:         flex;
    justify-content: center;
    align-items:     center;
  }

  .hero .pattern-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 200px;
    background: url(../images/pattern.png);
    background-size: contain;
    opacity: 0.2;
  }

  .hero .img-box {
    position: relative;
    z-index: 2;
  }

  .hero-img {
    width:  100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0 0 280px 230px;
    transform: translate(10px, -10px);
  }

  .hero .shape {
    position: absolute;
    top:  50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -42%) rotate(-20deg);
  }

  .hero .shape-1 {
    background: var(--accent);
    width:  90%;
    height: 90%;
    z-index: -1;
  }

  .hero .shape-2 {
    width:  92%;
    height: 92%;
    box-shadow: inset 0 -30px 0 var(--action-primary);
    z-index: 2;
  }



/* Main */
  .main .container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 60px;
  }

}